body {
  background-color: palegoldenrod;
  text-align: center;
}

a {
  color: green;
  padding: 15px;
}

img {
  display: block;
  margin: 0 auto;
  border: 5px solid white;
  border-radius: 10px;
  max-width: 800px;
  margin-bottom: 35px;
}

.contact-link {
  color: blue;
}
